{
    "presets": [       
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "entry",
                "modules": "commonjs",
                "targets": {
                    "node": "current",
                    "browsers": [
                        "last 2 versions",
                        "ie >= 11"
                    ]
                }
            }
        ],
        "@babel/react"
    ],
    "plugins": [
        [
            "@babel/plugin-proposal-class-properties"
        ]
    ]
}